#backgroundGradiant {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab0ed+0,9fd8ef+40,e4f5fc+100 */
    background: rgb(42, 176, 237);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(42, 176, 237, 1) 0%, rgba(159, 216, 239, 1) 40%, rgba(228, 245, 252, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(42, 176, 237, 1) 0%, rgba(159, 216, 239, 1) 40%, rgba(228, 245, 252, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(42, 176, 237, 1) 0%, rgba(159, 216, 239, 1) 40%, rgba(228, 245, 252, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#e4f5fc', GradientType=0);
    /* IE6-9 */
}

h1 {
    font-family: Arial;
}

body {
    font-family: Arial;
    height: 100%;
}

.box {
    width: 55%;
    border: 1px solid grey;
    border-radius: 15px;
    background: #FFFFFF;
    margin-left: 22.5%;
}

img {
    width: 180px;
    height: 120px;
    padding-bottom: 20px;
}

.clearfix {
    overflow: auto;
    width: 350px;
    height: 200px;
    
}

li {
    display: inline;
}

.menu  clearfix {
    text-align: center;
    width: 100%;
    display: inline;
    background-color: #B22222;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto; 

}

#content {
    padding-top: 40px;
    padding-left: 10px;
    
}

ul {
    display: block;
    background-color: #B22222;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 100px;
    position: center;
}

li a {
    color: white;
}

div p {
    float: left
}

.footer {
    border-radius: 15px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 12px;
}
