#backgroundGradiant {
    height: 1000px;
    background: dodgerBlue ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(dodgerBlue , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(dodgerBlue , white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(DodgerBlue , white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(DodgerBlue , white); /* Standard syntax (must be last) */ }
    
h1 {
    font-family: Arial;
}

body {
    font-family: Arial;
    height: 100%;
}

.box {
    width: 55%;
    border: 1px solid grey;
    border-radius: 15px;
    background: #FFFFFF;
    margin-left: 22.5%;
}
li {
    display: inline;
}

.menu  clearfix {
    text-align: center;
    width: 100%;
    display: inline;
    background-color: #B22222;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto; } 
    
ul {
    display: block;
    background-color: #B22222;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 100px;
    position: center;
}

li a {
    color: white;
}

.slideshow {
    padding-left: 30px;
}

.nav a{
    padding-left: 30px;
    color: black;
}

.nav a:hover {
    color: #B22222;
    text-decoration: none;
}