html {
    /*background-color: white;*/
    background-image: url(https://www.walldevil.com/wallpapers/a53/wallpapers-background-black-gaming-blue-shining-color-waves-multi-fun-red-backgrounds-screen-entertainment.jpg);
}

#bodybg {
    width: 1000px;
    height: 100%;
    background-color: white;
    margin-left: -10px;
    margin: 0 auto;
    padding-left: 10px;
    opacity: 0.9;
    background-image: url(http://www.isight-kenya.com/images/Grey-Background-New3.jpg);
}

#canvas {
    border: 2px soild black;
    background-color: black;
    margin-left: -3px;
    position: relative;
    opacity: 1;
}

.title {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    margin-top: -20px;
    color: #6f0016;
}

#speed {
    width: 150px;
}