body{
    background-color: white;
}
#header{
    text-align: center;
    font-size: 100px;
    background-color: #DC143C;
    background-size: cover;
    color: white;
    width: 100%;
    height: 100px;
    padding: 30px 10px 30px 10px;
    margin-left: -10px;
    margin-top: -10px;
    
}
#content{
    /*border: 1px solid black;*/
    text-align: center;
    width: 800px;
    font-family: 'Cutive Mono';
    display: inline-block;
    margin: 0 auto;
}
#ads{
    text-align: center;
    display: inline-block;
    
}
.photo{
    margin: 0 auto;
    width: 200px;
    height: 950px;
    padding-left: 200px;
}
#footer{
    /*border: 1px solid black;*/
    text-align: center;
    background-color: #DCDCDC;
    background-size: cover;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px 10px 20px 10px;
}
.table tr td{
    font-family: 'Cutive Mono';
    padding-left: 75px;
    
}
.letter1{
    font-size: 150px;
    font-weight: bold;
}
.letter2{
    font-size: 130px;
    font-weight: bold;
}
.letter3{
    font-size: 120px;
    font-weight: bold;
}
.letter4{
    font-size: 100px;
    font-weight: bold;
}
.letter5{
    font-size: 80px;
    font-weight: bold;
}
.letter6{
    font-size: 60px;
    font-weight: bold;
}
.letter7{
    font-size: 40px;
    font-weight: bold;
}
.letter8{
    font-size: 20px;
    font-weight: bold;
}
.letter9{
    font-size: 10px;
    font-weight: bold;
}
.letter10{
    font-size: 5px;
    font-weight: bold;
}
.letter11{
    font-size: 2px;
    font-weight: bold;
}
.green{
    background-color: green;
    padding: 15px;
}
.red{
    background-color: red;
    padding: 10px;
}
td {
    font-size: 25px;
}
#rubic{
   margin-left: 25%;
   font-size: 15px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.jsbody{
    margin: 0 auto;
    width: 800px;
    margin-left: 50px;
}
h1{
    color: #DC143C;
    font-size: 60px;
}