#form{
    text-align: center;
    padding-bottom: 20px;
}
.textUrl{
    font-size: 18px;
}
input{
    width: 150px;
}
.saveGlasses{
    text-align: center;
    border: 2px solid #B22222;
    background-color: #B22222;
    color: white;
    padding: 3px;
    border-radius: 10px;
    width: 190px;
    margin: 0 auto;
}
.listBookmark{
    margin-left: 50px;
}
.listOfBookmark{
    padding-bottom: 10px;
}